.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* fonds */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* LOGO */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-link-span {
  color: #2e2f42;
}
.logo-portfolio-span {
  color: #f4f4fd;
}

/* Menu */

.menu-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover {
  color: #404bbf;
  background-color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
  background-color: #404bbf;
}
.contact-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-item:hover {
  color: #404bbf;
  background-color: #404bbf;
}
.contact-item:focus {
  color: #404bbf;
}
.adress {
  font-style: normal;
}
/* HERO section 1 */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* button */
.hero-button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-button:hover {
  color: #e7e9fc;
  background-color: #404bbf;
}
.hero-button:focus {
  color: #e7e9fc;
  background-color: #404bbf;
}
/* section 2 */

.second-section-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.second-section-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

/* section 3 */

.third-section-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* section 4 */
.fourth-section {
  background-color: #f4f4fd;
}

.fourth-section-pic {
  background-color: #ffffff;
}
.fourth-section-header {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.fourth-section-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.fourth-section-profession {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: inherit;
}

/* footer */

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.logo-link-span-footer {
  color: #f4f4fd;
}
.footer {
  background: #2e2f42;
}
.footer-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* PORTFOLIO PAGE */

/* filters */

.filters-button {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.filters-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}
.filters-button {
  cursor: pointer;
}

.filters-button:hover {
  color: #e7e9fc;
  background-color: #404bbf;
}
.filters-button:focus {
  color: #e7e9fc;
  background-color: #404bbf;
}

/* Menu */
.menu-header {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: inherit;
}
